<div id="signup">

  <div>
   <form action="/signup" method='post'>

     
     <input id="username" autocomplete="on" placeholder="Username" class='dark' type="text" name="username" required>
     <input id="email" autocomplete="on" placeholder="Email" class='dark' type="email" name="email" required>
     <input id="password" autocomplete="on" placeholder="Password" class='dark' type="password" name="password" required>

    <input type="submit" class='button large' value="SignUp">
   
   </form>

  </div>

</div>